# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
.venv/
env/

# Logs and debug artifacts
logs/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
